{% load i18n %}
{% load comments %}
{% load url_tags %}
{% get_comment_count for story as comment_count %}
                <div class="entry video">
                    <h2><a href="{{ story.story_url }}">{{ story.title }}</a></h2>
					<div class="tagline grayed"><a rel="nofollow" href="{{ story.url }}">{% url_domain story.url %}</a> {% trans "added" %} <span title="{{ story.created_date }}">{{ story.created_date|timesince }} {% trans "ago" %}</span> {% trans "by" %} <a class="user {STORIES.user_class}" href="{% url profiles:profile story.user.username %}">{{ story.user.username }}</a> {% trans "to" %} <a class="category" href="{% url stories:popular_category_list story.category.slug %}">{{ story.category.name }}</a></div>
					<div class="desc">{{ story.summary }}</div>
					<ul class="links rounded_links">
						<li class="comments"><a href="{{ story.story_url }}">{% blocktrans count comment_count as comments %}{{ comments }} comment{% plural %}{{ comments }} comments{% endblocktrans %}</a>
                        <li class="references"><a href="{% url stories:references_slug story.id story.slug %}">{% blocktrans count story.references.count as references %}{{ references }} reference{% plural %}{{ references }} references{% endblocktrans %}</a></li>
{% if request.user.is_authenticated %}
						<li class="watched">
						  <ul class="watched_list">
						      <li class="active"><a href="#" title="{% trans "watched" %}">{% trans "watched" %}</a></li>
						      <li><a href="#" title="{% trans "favorite" %}">{% trans "favorite" %}</a></li>
						  </ul>
						</li>
{% endif %}
					</ul>
				</div>