{% load i18n %}
{% load markup %}
            <article id="comment-{{ comment.id }}" class="comment_block depth_{{ comment.depth }}">
                <h3 id="comment-head-{{ comment.id }}" class="comment_head{% if score.score > 9 %} highlight{% endif %}">
                    <time class="comment_date grayed" title="{{ comment.date_submitted }}">{{ comment.submit_date|timesince }} {% trans "ago" %}</time>
                    <span class="author">
                        <a class="user {COMMENTS.user_class}" href="{% url profiles:profile comment.user.username %}" title="{% trans "user profile"|capfirst %}">{{ comment.user.username }}</a>
                        <span class="wrote"> {% trans "wrote" %}</span>
{% if comment.user.profile.website %}
                        <a rel="nofollow" class="user_www" href="{{ comment.user.profile.website }}" title="{% trans "user website"|capfirst %}"><span class="www">www</span></a>
{% endif %}
                    </span>
                </h3>

                <div id="comment-content-{{ comment.id }}" class="comment_content">
                    <div id="comment-avatar-{{ comment.id }}" class="avatar medium">
                        <img src="{{ comment.user.profile.avatar.url_48x48 }}" alt="awatar {{ comment.user.username }}"/>
                    </div>
                    <div id="comment-text-{{ comment.id }}" class="comment_text{% if observing.last_seen < comment.date_modified %} notseen{% endif %}">
                        {{ comment.comment|markdown }}
                    </div>

                </div>
                <div id="comment-links-{{ comment.id }}" class="comment_links">
{% if request.user.is_authenticated %}
    {% if perms.comments.can_moderate %}
        {% if not comment.is_public %}
                    <a class="comment_approve_link" href="{% url comments:comments-approve comment.id %}" title="{% trans "Approve" %}"><span>{% trans "Approve" %}<span></a>
        {% endif %}
                    <a class="comment_delete_link" href="{% url comments:comments-delete comment.id %}" title="{% trans "Delete" %}"><span>{% trans "Delete" %}<span></a>
    {% else %}
                    <a class="comment_flag_link" href="{% url comments:comments-flag comment.id %}" title="{% trans "Flag" %}"><span>{% trans "Flag" %}<span></a>
    {% endif %}
    {% if comment.user == request.user %}
                    <a class="comment_edit_link" href="{% url comments:comments-edit comment.id %}" title="{% trans "Edit" %}"><span>{% trans "Edit" %}<span></a>
    {% endif %}
                    <a class="comment_reply_link" href="javascript:void(0)" onclick="comreply({% if not comment.parent_id %}{{ comment.id }}{% else %}{{ comment.parent_id }}{% endif %},'{{ comment.user.username }}', {{ comment.id }});" title="{% trans "Reply" %}"><span>{% trans "Reply" %}</span></a>
{% endif %}
                    <a class="comment_id_link" href="#comment-{{ comment.id }}" title="{% trans "Permalink" %}"><span>{% trans "Permalink" %}</span></a>
                </div>
            </article>