{% load i18n %}
{% load tagging_tags %}
{% tag_cloud_for_model stories.Story as tags with steps=6 min_count=1 distribution=log %}
        <div class="sidebox">
            <h3 class="toggle">{% trans "Tag cloud" %}</h3>

            <div class="tab_toggle_content rounded_links">
                <ul class="tag_list">
{% for tag in tags %}
                    <li><a class="tag-{{ tag.font_size }}" rel="tag" href="/tag/{{ tag.name|slugify }}/" style="font-size:{{ tag.font_size|add:12 }}px;padding:3px;">{{ tag.name }}</a></li>
{% endfor %}
                </ul>
            </div>
        </div>
