{% extends "base.html" %}

{% load i18n %}

{% block content %}
        <div id="center">
            <div id="static">
                <h2 class="page-title">{% trans "Page not found" %}</h2>
                <div style="text-align: center;">
                    <img src="{{ MEDIA_URL }}img/fanzonun.jpg" alt="" align="" border="0px">
                </div>
                <div style="text-align: center;">
                    <span class="Apple-style-span" style="font-weight: bold;">404: Hmm... tego jeszcze nie było!</span>
{% if perms.flatpages.add_flatpage %}
                    <span class="Apple-style-span" style="font-weight: bold;">Ale możesz zrobić aby było! <a href="?action=create">Stwórz stronę</a>.</span>
{% endif %}
                </div>
            </div>
        </div>
{% endblock %}