{% extends "settings.html" %}

{% load i18n %}

{% block settings %}
            <ul class="tabs">
                <li><a href="{% url stories:update_userpref %}">{% trans "settings"|capfirst %}</a></li>
                <li><a href="{% url profiles:update_profile %}">{% trans "profile"|capfirst %}</a></li>
                <li><a href="{% url profiles:update_avatar %}">{% trans "avatar"|capfirst %}</a></li>
                <li><a href="{% url styles:update_userstyle %}">{% trans "styles"|capfirst %}</a></li>
                <li class="active"><a href="{% url profiles:password_change %}">{% trans "password"|capfirst %}</a></li>
            </ul>

            <form class="edit_profile" method="post" action="">
                {% csrf_token %}
                <fieldset class="aligned wide">
                <div class="form-row">
{% if form.old_password.errors %}{% for error in form.old_password.errors %}
                    <p class="error" id="title_error">{{ error }}</p>
{% endfor %}{% endif %}
                    {{ form.old_password.label_tag }}
                    {{ form.old_password }}
                </div>
                <div class="form-row">
{% if form.new_password1.errors %}{% for error in form.new_password1.errors %}
                    <p class="error" id="title_error">{{ error }}</p>
{% endfor %}{% endif %}
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1 }}
                </div>
                <div class="form-row">
{% if form.new_password2.errors %}{% for error in form.new_password2.errors %}
                    <p class="error" id="title_error">{{ error }}</p>
{% endfor %}{% endif %}
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2 }}
                </div>
                <div class="submit-row">
                    <input class="input_submit" type="submit" name="Submit" value="{% trans "Change password" %}">
                </div>
            </form>
{% endblock %}