{% extends "profiles/profile_detail.html" %}

{% load i18n %}
{% load story_tags %}
{% load extra_voting_tags %}

{% block title %} - Profil uzytkownika {{ profile.user.username }} - Komentowane{% endblock %}

{% block tab %}
         <ul class="tabs no_title mini">
            <li><a href="{% url profiles:profile profile.user.username %}">{% trans "digs"|capfirst %}</a></li>
            <li><a href="{% url profiles:profile_stories profile.user.username %}">{% trans "added"|capfirst %}</a></li>
            <li class="active"><a href="{% url profiles:profile_comments profile.user.username %}">{% trans "comments"|capfirst %}</a></li>
{% if user.is_moderator %}
            <li><a href="{% url profiles:profile_invites profile.user.username %}">{% trans "invited users"|capfirst %}</a></li>
{% endif %}
        </ul>

{% for comment in comment_list %}
    {% ifchanged comment.content_object_id %}{% render_story_simple comment.content_object %}{% endifchanged %}
    {% render_comment_simple comment %}
{% endfor %}
{% endblock %}
